extends ./layouts/header.pug

block container
    .container-fluid
        .row
            .col-11.offset-col-1
                h2 Eventos de la Semana
        .row.justify-content-md-center
            .col-4
                .row.no-gutters
                    .col-8
                        img.imgEvent(src="images/events/Arduino-Day.jpg", alt="img1", data-toggle="modal", data-target="#exampleModal")
                    .col-4.informationCardsEvents
                        span Itil Foundation - Preparación
                        br
                        span Dom 25/Feb/18 - 4pm
                        br
                        span Aforo: 10
            .col-4
                .row.no-gutters
                    .col-8
                        img.imgEvent(src="images/events/Arduino-Day.jpg", alt="img1", data-toggle="modal", data-target="#exampleModal")
                    .col-4.informationCardsEvents
                        span Itil Foundation - Preparación
                        br
                        span Dom 25/Feb/18 - 4pm
                        br
                        span Aforo: 10
            .col-4
                .row.no-gutters
                    .col-8
                        img.imgEvent(src="images/events/Arduino-Day.jpg", alt="img1", data-toggle="modal", data-target="#exampleModal")
                    .col-4.informationCardsEvents
                        span Itil Foundation - Preparación
                        br
                        span Dom 25/Feb/18 - 4pm
                        br
                        span Aforo: 10
        .row.justify-content-md-center
            .col-4
                .row.no-gutters
                    .col-8
                        img.imgEvent(src="images/events/Arduino-Day.jpg", alt="img1", data-toggle="modal", data-target="#exampleModal")
                    .col-4.informationCardsEvents
                        span Itil Foundation - Preparación
                        br
                        span Dom 25/Feb/18 - 4pm
                        br
                        span Aforo: 10
            .col-4
                .row.no-gutters
                    .col-8
                        img.imgEvent(src="images/events/Arduino-Day.jpg", alt="img1", data-toggle="modal", data-target="#exampleModal")
                    .col-4.informationCardsEvents
                        span Itil Foundation - Preparación
                        br
                        span Dom 25/Feb/18 - 4pm
                        br
                        span Aforo: 10
            .col-4
                .row.no-gutters
                    .col-8
                        img.imgEvent(src="images/events/Arduino-Day.jpg", alt="img1", data-toggle="modal", data-target="#exampleModal")
                    .col-4.informationCardsEvents
                        span Itil Foundation - Preparación
                        br
                        span Dom 25/Feb/18 - 4pm
                        br
                        span Aforo: 10
        .row.justify-content-md-center
            .col-4
                .row.no-gutters
                    .col-8
                        img.imgEvent(src="images/events/Arduino-Day.jpg", alt="img1", data-toggle="modal", data-target="#exampleModal")
                    .col-4.informationCardsEvents
                        span Itil Foundation - Preparación
                        br
                        span Dom 25/Feb/18 - 4pm
                        br
                        span Aforo: 10
            .col-4
                .row.no-gutters
                    .col-8
                        img.imgEvent(src="images/events/Arduino-Day.jpg", alt="img1", data-toggle="modal", data-target="#exampleModal")
                    .col-4.informationCardsEvents
                        span Itil Foundation - Preparación
                        br
                        span Dom 25/Feb/18 - 4pm
                        br
                        span Aforo: 10
            .col-4
                .row.no-gutters
                    .col-8
                        img.imgEvent(src="images/events/Arduino-Day.jpg", alt="img1", data-toggle="modal", data-target="#exampleModal")
                    .col-4.informationCardsEvents
                        span Itil Foundation - Preparación
                        br
                        span Dom 25/Feb/18 - 4pm
                        br
                        span Aforo: 10

        